<!doctype html>
<html lang="en">
    <head>
        <title>Foxhole War Map</title>
        <meta name="description" content="Foxhole War Map Project">
        <meta name="keywords" content="Foxhole">
        <meta name="author" content="Sethfire">    
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
        
        <!-- Leaflet Control Layers Tree -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet.control.layers.tree@0.1.1/L.Control.Layers.Tree.css" />
        <script src="https://unpkg.com/leaflet.control.layers.tree@0.1.1/L.Control.Layers.Tree.js"></script>
        
        <!-- Leaflet Search (Currently Unused) -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet-search@2.3.7/dist/leaflet-search.src.css" />
        <script src="https://unpkg.com/leaflet-search@2.3.7/dist/leaflet-search.src.js"></script>

        <!-- Map -->
        <link rel="stylesheet" href="css/style.css"/>
        <script src="js/Map.js" type="module"></script>
    </head>
    <body>
        <div id="map"></div>
    </body>
</html>