* {
    font-family: Helvetica;
    color: #ffffff;
}

body {
    padding: 5px;
    margin: 0px;
    
    background-color: #000000; 
}

.header {
    margin: 5px;
    border: 1px solid #363636;
    background-color: #222222;
}

.headerText {
    vertical-align: middle;
    display: inline;
    margin: 5px;
    font-size: 28px;
    color: #AEBDBD;
}

#headerImage {
    margin: 5px;
    vertical-align: middle;
}

.warStatus {
    margin: 5px;
    border: 1px solid #363636;
    background-color: #222222;

    text-align: center;
    font-size: 24px;
}

.warMap {
    margin: 5px;

    height: 90vh;

    border: 1px solid #363636;
    background-color: #222222;
}

.warTime {
    margin: 5px;
    border: 1px solid #363636;
    background-color: #222222;
}