html, body, #root, #app {
    height: 100%;
    width: 100%;
	margin: 0;
}

body {
    font-family: 'Jost';
    
    /*
    background-image: url('FoxholeBackground.jpg');
	background-repeat: no-repeat;
	background-position: center center;
    background-color: #000000;
    */
}

.war-box {
    background-color: #222222;
    /* opacity: 0.8; */
}

.war-box b {
    color: #d67b52;
}

/* War Application Container */
#app {
    display: flex;
}

#war-map {
    flex: 1 1;
    font-family: 'Jost';
}
#war-map .region-label {
    white-space: nowrap;
    text-shadow: 0 0 0.1em black, 0 0 0.1em black,
          0 0 0.1em black,0 0 0.1em black,0 0 0.1em;
    color: white;
    text-align: center;
    font-size: 16px;
}

a:link {
    color: #d67b52;
}
a:visited {
    color: #d67b52;
}
a:hover {
    color: #d67b52;
}
a:active {
    color: #d67b52;
}