* {
    font-family: Helvetica;
}

html, body {
    margin: 0px;
    padding: 5px;
    height: 100%;
    
    background-color: #000000;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#header {
    margin: 5px;
    border: 1px solid #363636;
    background-color: #222222;

    flex-basis: 46px;
}

#body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#headerText {
    vertical-align: middle;
    display: inline;
    margin: 5px;
	
    font-size: 28px;
    font-family: Helvetica;
    color: #AEBDBD;
}

#headerImage {
    margin: 5px;
    vertical-align: middle;
}

#sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#warStatus {
    margin: 5px;
    border: 1px solid #363636;
    background-color: #222222;

    height: 120px;
    width: 240px;
    max-width: 100%;
    float: left;

    text-align: center;
    font-size: 24px;
    color: #ffffff;
}

#warMap {
    margin: 5px;

    width: 600px;
    height: 600px;

    border: 1px solid #363636;
    background-color: #222222;
}

#warTime {
    margin: 5px;
    border: 1px solid #363636;
    background-color: #222222;
    color: #ffffff;
}